body {
  font-family: Arial, sans-serif;
  background: #eef1f5;
}

.app {
  width: 420px;
  margin: 70px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
}

textarea, input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  margin-top: 5px;
  padding: 8px 12px;
}
